<main class="site-content">
  <h1> Favourite Spaces</h1>
  <hr>
  <% if @user == current_user %>
      <h4> You have <%= pluralize(@user.favourite_spaces.count,'favourite space') %>. <% if @user.favourite_spaces.count == 0 %>Why not add <%= link_to 'some', spaces_url %>?<% end %></h4>
    <% else %>
      <h1> <%= @user.first_name %>'s Favourite Spaces </h1>
      <h3> <%=@user.first_name %> has <%= pluralize(@user.favourite_spaces.count,'favourite space') %> </h3>
  <% end %>

  <% if @user.favourite_spaces.any? %>
    <section class="flex-container">

      <% @favourite_spaces.each do |space| %>
        <div class="space flex-child">

          <%= link_to space, class: 'space-link' do %>

            <figure class="space-image">
              <% if space.avatar %>
                <%= image_tag space.avatar %>
              <% else %>
                <%= image_tag ("http://placehold.it/2000x1000") %>
              <% end %>
            </figure>

          <div class="space-description">
            <h1 class="space-title"><%= space.title %></h1><% end %>
              <hr>
              <p><%= space.description %></p>
          </div>

        </div>
      <% end %>
    </main>
  <% end %>

</main>
