<main class="site-content">
  <h1> Favourite Spaces</h1>
  <hr>
  <% if @user == current_user %>
      <h4> You have <%= pluralize(@user.favourite_spaces.count,'favourite space') %>. <% if @user.favourite_spaces.count == 0 %>Why not add <%= link_to 'some', categories_url %>?<% end %></h4>
    <% else %>
      <h4> <%=@user.first_name %> has <%= pluralize(@user.favourite_spaces.count,'favourite space') %> </h3>
  <% end %>

  <% if @user.favourite_spaces.any? %>
    <div class="container-fluid no-gutters">
      <div class="row no-gutters">
        <% @favourite_spaces.each do |space| %>
          <div class="col-sm-6 col-md-4">
            <div class="space">
              <%= link_to space, class: 'space-link' do %>
              <div class="space-image" style="background-image: url('<%= space.space_photos.first.photo %>')"></div>
              <div class="space-description">
                <h1><%= space.title %></h1><% end %>
                <hr>
                <b><%= space.address.street_address %>, <%= space.address.city %></b><br />
                $<%= space.price %> | <%= space.capacity %> Persons | <%= space.size %> ft<sup>2</sup><br />
                <p><%= space.description.truncate(225) %></p>
                Hosted by <%= link_to space.host.first_name, space.host %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</main>
