<h1>Search</h1>

<div class="search-form">

  <%= form_tag(search_results_path, method: "get") do %>

  <div>
    <h2>Category</h2>
    <%= collection_check_boxes(:ids, :category_ids, Category.all, :id, :name) do |s| %>
      <%= s.check_box %> <%= s.label %><br />
    <% end %>
  </div>

  <%= submit_tag 'Search' %>

  <% end %>

</div>
