<h1>Search</h1>

<div class="search-form">

  <%= form_tag("/search", method: "get") do %>

  <div>
    <h2>Location</h2>
    <%= text_field_tag 'location', 'Enter a location' %>
  </div>

  <div>
    <h2>Amenity</h2>
    <%= collection_check_boxes(:space, :amenity_ids, Amenity.all, :id, :name) do |s| %>
      <%= s.check_box %> <%= s.label %><br />
    <% end %>
  </div>

  <div>
    <h2>Category</h2>
    <%= collection_check_boxes(:space,  :category_ids, Category.all, :id, :name) do |s| %>
      <%= s.check_box %> <%= s.label %><br />
    <% end %>
  </div>

  <%= submit_tag 'Search' %>

  <% end %>

</div>
