<section class="site-content">
  <h1> Your Inbox </h1>
  <hr>
  <% if !current_user.personal_messages.exists? %>
    <span class="inbox-count"> You have <%= pluralize(current_user.personal_messages.count, 'message') %> </span>
  <% else %>
    <section class="inbox-main" >
      <div class="container-fluid no-gutters">
        <div class="row">
          <% @conversations.each do |c| %>
            <div class="col-sm-12 col-md-6">
              <div class="inbox-conversation">
                <p class="conversation-title"><span class="blue-underline">Your conversation with</span>: <% if c.author == current_user %>
                  <%= link_to c.receiver.first_name, user_path(c.receiver) %> <span class="profile-image size50 booking-icon" style="background-image: url('<%= c.receiver.avatar %>')"></span> <br/>
                <% else %>
                  <%= link_to c.author.first_name, user_path(c.author) %> <span class="profile-image size50 booking-icon" style="background-image: url('<%= c.author.avatar %>')"></span> <br />
                <% end %></p>
                <p class="conversation-brief"><%= c.personal_messages.last.body.truncate(150) %> <br/><p>
                <center><%= link_to 'View Conversation', user_conversation_path(current_user, c), class: 'link-button' %></center>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
</section>
