<main class="site-content">
  <h1>Your conversation with <%=link_to @conversation.with(current_user).first_name, @conversation.with(current_user) %></h1>
  <hr>
  <div class="conversation-main">
    <div class="conversation-body">
      <%= render @conversation.personal_messages %>
    </div>

    <%= form_for @personal_message, url: {action: "reply"} do |f| %>
      <%= hidden_field_tag 'conversation_id', @conversation.id %>
  <section class="emoji-picker-container">
      <%= f.text_area :body, :placeholder => "Enter your message here", data: { emojiable: true } %></section>

      <%= f.submit 'Send Message' %>
    <% end %>
  </div>
</main>
