<%= form_for @space, url: {action: "create"}, html: {class: "space_new_form", multipart: true} do |f| %>

  <div>
    <%= file_field :avatars, multiple: true %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :check_in %>
    <%= f.time_select :check_in, {:minute_step => 15, :ampm => true} %>
    <%= f.label :check_out %>
    <%= f.time_select :check_out, {:minute_step => 15, :ampm => true} %>
  </div>

  <div>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </div>

  <div>
    <%= f.label :size, 'Space Size' %>
    <%= f.text_field :size %> sqft
  </div>

  <div>
    <%= f.label :bathrooms %>
    <%= f.text_field :bathrooms %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.text_field :price %> /day
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :rules %>
    <%= f.text_area :rules %>
  </div>

  <div>
    <%= f.label :amenity %>
    <%= f.collection_check_boxes(:amenity_ids, Amenity.all, :id, :name) %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>

  <%= f.hidden_field :host_id, :value => current_user.id %>

  <%= f.submit %>

  <% end %>
