<h1><%= @space.title %></h1>
<% if logged_in? %>
  <%if current_user.hosted_spaces.include?(@space) %>
    <%= link_to 'Edit this space', edit_space_path %>
  <% end %>
  <% unless current_user.favourite_spaces.exists?(id: @space.id) %>
    <p> Do you love this space? If so...
      <%= link_to 'add it to my favourites!', favourite_spaces_path(space_id: @space), method: :post %> </p>
  <% else %>
    <p> Cool! This is one of your favourite Spaces!</p>
    <p> Not a fan anymore?
    <%= link_to 'Remove this Space from my favourites!', favourite_space_path(@space), method: :delete %></p>
  <% end %>
<% end %>


<p>Description: <% @space.description %>

<p>Category: <% @space.categories.each do |category| %>
  <%= category.name %> <br/>
<% end %>

<p>Amenities: <% @space.amenities.each do |amenity|%>
<%= amenity.name %><br/>
<% end %></p>



<%= render 'bookings/form' %>


<%# for new reviews: %>
<%# if can? :create, Review  %>
<%= render 'reviews/form' %>
<%# end %>

<div id="reviews_list">
  <%= render "reviews" %>
</div>
