  <%= form_for [@space, @booking] do |f| %>
    <div class="booking-calendar">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <%= f.text_field :start_time, :class => "form-control", :placeholder => "Check-in" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>

      <div class="booking-calendar">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
              <%= f.text_field :end_time, :class => "form-control", :placeholder => "Check-out" %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>

    <%= f.text_area :note, :class => 'booking-note', :placeholder => "Send a message." %>
    <%= f.hidden_field :approved, :value => false %>

    <div class="form-actions">
      <%= f.submit "Book", :class => 'booking-submit' %>
    </div>

  <% end %>

<!-- ##### SCRIPTS ##### -->

<script type="text/javascript">

    $(function () {
        $('#datetimepicker6').datetimepicker({
          format: 'DD/MM/YYYY',
          showTodayButton: true,
          minDate: moment(),
          disabledDates: <%= raw @space.all_disabled_dates %>,
          useCurrent: false
        });
        $('#datetimepicker7').datetimepicker({
            format: 'DD/MM/YYYY',
            showTodayButton: true,
            minDate: moment(),
            disabledDates: <%= raw @space.all_disabled_dates %>,
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
        $('#datetimepicker5').datetimepicker({
            defaultDate: moment(),
            disabledDates: <%= raw @space.all_disabled_dates %>
        });
    });
</script>
