<h1>Edit Booking for <%= @booking.space.title %></h1>

<p>
  Check-in: <%= @booking.start_datetime.strftime("%B %-d %Y") %><br />
  Check-out: <%= @booking.end_datetime.strftime("%B %-d %Y") %><br />
  Approved: <%= @booking.approved %>
</p>

<%= render 'form' %>
