<h1>Edit Booking for <%= @booking.space.title %></h1>

<p>
  Check-in: <%= @booking.start_time %><br />
  Check-out: <%= @booking.end_time%><br />
  Approved: <%= @booking.approved %>
</p>

<%= render 'form' %>

<!-- .strftime("%B %-d %Y") -->
