<section class="container">
  <h1>Your Bookings</h1>
  <hr>
  <h4>You currently have <%= pluralize(@user.bookings.count,'booking') %>. <% if @user.bookings.count == 0 %>Explore some <%= link_to 'spaces', spaces_url %>!<% end %></h4><br />

  <% if @user.bookings.any? %>

    <h4><span class="blue-underline">Approved Bookings</span></h4>

    <% if !@user.bookings.where(approved:true).exists? %>
      <p>You have no approved bookings.</p>
    <% end %>

      <% @user.bookings.where(approved: true).each do |booking| %>
        <div class="user-booking">
          <b><%= link_to booking.space.title, booking.space %></b><br />
          <%= link_to "Edit Booking", edit_user_booking_url(id: booking.id) %> | <%= link_to 'Message Host', new_user_personal_message_path(user_id: current_user, receiver_id: booking.space.host) %><br />
          Start: <%= booking.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %-d %Y") %>, Check-in: <%= booking.space.check_in.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p") %> <br />
          End: <%= booking.end_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %-d %Y") %>, Check-out <%= booking.space.check_out.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p") %>
        </div>
      <% end %><br />

    <h4><span class="blue-underline">Pending Bookings</span></h4>

    <% if !@user.bookings.where(approved:false).exists? %>
      <p>You have no approved bookings.</p>
    <% end %>

        <% @user.bookings.where(approved: false).each do |booking| %>
          <div class="user-booking">
            <b><%= link_to booking.space.title, booking.space %></b><br />
            <%= link_to "Edit Booking", edit_user_booking_url(id: booking.id) %> | <%= link_to 'Message Host', new_user_personal_message_path(user_id: current_user, receiver_id: booking.space.host) %><br />
            Start: <%= booking.start_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %-d %Y") %>, Check-in: <%= booking.space.check_in.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p") %> <br />
            End: <%= booking.end_time.in_time_zone("Eastern Time (US & Canada)").strftime("%B %-d %Y") %>, Check-out <%= booking.space.check_out.in_time_zone("Eastern Time (US & Canada)").strftime("%I:%M%p") %>
          </div>
        <% end %>

  <% end %>
</section>
