
 <h1>Hiiiiiiiii, <%= @user.first_name %> :) </h1>

<%if @user.favourite_spaces.any? %>
  <h3><%= link_to 'Your favourite Spaces', user_favourite_spaces_path(@user) %></h3>

<% end %>



<h3> You currently have <%= pluralize(@user.bookings.count,'booking') %> </h3>
<% if @user.bookings.any? %>
    <h2><%=link_to 'Your bookings', user_bookings_path(@user)%></h2>
    <% @user.bookings.each do |b|%>
    <p><%=link_to b.space.title, b.space%> <br />
    Start: <%= b.start_datetime.strftime("%B %-d %Y at %l:%M%p") %> <br />
    End: <%= b.end_datetime.strftime("%B %-d %Y at %l:%M%p") %> <br /></p>
    <% end %>
  <% end %>
