<section class="grey">
  <div class="profile-image" style="background-image: url('<%= @user.avatar %>')">
  </div>

  <% if @user == current_user %>
    <h1 class="centered">Hey there <span><%= @user.first_name%>!</span></h1>
    <% else %>
    <h1 class="centered"><span><%= @user.first_name%>'s</span> Profile</h1>
    <% end %>
</section>

<section class="container">

  <h4>About Me</h4>
  <hr>
  <p>
    <%= @user.bio %>
  </p>

  <br />

  <!-- HOSTED SPACES  -->
  <h5><%= @user.first_name%> hosts <%= pluralize(@user.hosted_spaces.count,'Space') %>
  <%if @user.hosted_spaces.any? %>
    <%=link_to ' (View all)', user_hosted_spaces_path(@user) %>
  <% end %></h5>

  <!-- USER FAVOURITES -->
  <h5><%= @user.first_name%> has <%= pluralize(@user.favourite_spaces.count,'Favourite Space') %>
  <%if @user.favourites.any? %>
    <%=link_to ' (View all)', user_favourite_spaces_path(@user) %>
  <% end %></h5>
    <%# @favourite_spaces.each do |space| %>
    <%#= link_to space.title, space %>
      <%# if @user == current_user %>
      <%#= link_to 'Remove from favourites', favourite_space_path(space), method: :delete %>
      <%# end %>
    <%# end %>

  <!-- USER REVIEWS -->
  <h5><%= @user.first_name %> has left <%=pluralize(@user.reviews.count, 'review') %>
    <% if @user.reviews.any? %>
      <%=link_to ' (View all)', user_reviews_path(@user) %>
    <% end %></h5>
</section>
