<div class="container-fluid no-gutters">
  <div class="row no-gutters" style="border-bottom: 1px solid #F2F2F2; min-height: 90vh;">
    <div class="col-sm-6 grey" style="min-height: 90vh;"><br />
      <div class="profile-image size250" style="background-image: url('<%= @user.avatar %>')"></div><br />

      <% if @user == current_user %>
        <h1 class="centered">Hey there <span><%= @user.first_name%>!</span></h1><br/>
        <center><%= link_to 'Edit Profile', edit_user_path, class: 'link-button' %></center>
        <% else %>
          <h1 class="centered"><span><%= @user.first_name + " " + @user.last_name %></h1><br/>
            <% if logged_in? %>
          <center><%= link_to 'Message', new_user_personal_message_path(current_user, receiver_id: @user), class: 'link-button' %></center>
            <% else %>
          <center><%= link_to 'Log in to Message', login_path, class: 'link-button' %></center>
          <% end %>
      <% end %>


    </div>

    <div class="col-sm-6 no-gutters">
      <section class="site-content">

        <h3>About Me</h3><hr>
        <p><b style="font-size: 14px">Joined <%= @user.created_at.strftime("%B %-d %Y") %></b></p>
        <p><%= @user.bio %></p>

        <center><% if @user.hosted_spaces.any? %>
          <%= link_to 'Listed Spaces', user_hosted_spaces_path(@user), class: 'link-button' %>
        <% end %></h5>

        <% if @user.favourites.any? %>
          <%=link_to 'Favourites', user_favourite_spaces_path(@user), class: 'link-button' %>
        <% end %>
      </center>

      </section>
    </div>
  </div>
</div>
