<%= month_calendar events: @hosted_space_bookings do |date, bookings| %>
  <%= content_tag 'div', data: { calendardate: date } do %>
    <div class="calendar-date"><%= date.day %></div>
    <% bookings.each do |booking| %>
        Booked by <%= booking.user.first_name %> <%= booking.user.last_name[0] %>.
    <% end %>
  <% end %>
<% end %>
