<h1> View Bookings for <%=@hosted_space.title %> </h1>
<h3> <%= link_to 'View Space page', space_path %> <br/>
<p><% @hosted_space_bookings.each do |booking| %>
Booked by: <%= booking.user.first_name %> <br/>
Start: <%= booking.start_datetime %> <br/>
End: <%= booking.end_datetime %> <br/>
Note: <%= booking.note %> <br/></p>
<% end %>
