<section class="container">

  <h1><%= @hosted_space.title %></h1>
  <hr>
  <h4><%= link_to 'View Space', space_path %></h4>

  <h3>Calendar</h3>
  <hr>

  <% if @hosted_space_bookings.count == 0 %>
    <h4>There are currently 0 bookings.</h4>
  <% end %>

  <div id="bookings-calendar">
    <%= render partial: "calendar", locals: {hosted_spaces: @hosted_space_bookings} %>
  </div><br />

  <h4><span class="blue-underline">Approved Bookings</span></h4>

  <% if !@hosted_space_bookings.where(approved:true).exists? %>
    <p>You have no approved bookings.</p>
  <% end %>

  <% @hosted_space_bookings.where(approved: true).each do |booking| %>
    <div class="user-booking">
      <h4><%= link_to booking.user.first_name, booking.user %> | <%= link_to 'Send a Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></h4>
      Start: <%= booking.start_time.strftime("%B %-d %Y") %>, Check-in: <%= booking.space.check_in.strftime("%I:%M%p") %> <br />
      End: <%= booking.end_time.strftime("%B %-d %Y") %>, Check-out <%= booking.space.check_out.strftime("%I:%M%p") %>
      <%= form_for [@hosted_space, booking] do |f| %>
        <%= f.hidden_field(:approved, :value => false) %>
        <%= f.submit "Cancel" %>
      <% end %>
    </div>
  <% end %>

  <hr>

  <h4><span class="blue-underline">Pending Bookings</span></h4>

  <% if !@hosted_space_bookings.where(approved:false).exists? %>
    <p>You have no approved bookings.</p>
  <% end %>

  <% @hosted_space_bookings.where(approved: false, denied: false).each do |booking| %>
    <div class="user-booking">
      <h4><%= link_to booking.user.first_name, booking.user %> | <%= link_to 'Send a Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></h4>
      Start: <%= booking.start_time.strftime("%B %-d %Y") %>, Check-in: <%= booking.space.check_in.strftime("%I:%M%p") %> <br />
      End: <%= booking.end_time.strftime("%B %-d %Y") %>, Check-out <%= booking.space.check_out.strftime("%I:%M%p") %>
      <%= form_for [@hosted_space, booking] do |f| %>
        <%= f.hidden_field(:approved, :value => true) %>
        <%= f.submit "Approve" %>
      <% end %>
      <%= form_for [@hosted_space, booking] do |f| %>
        <%= f.hidden_field(:denied, :value => true) %>
        <%= f.submit "Deny" %>
      <% end %>
    </div>
  <% end %>

<h4><span class="blue-underline">Denied Bookings</span></h4>
  <% @hosted_space_bookings.where(denied: true).each do |booking| %>
    <div class="user-booking">
      <h4><%= link_to booking.user.first_name, booking.user %> | <%= link_to 'Send a Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></h4>
      Start: <%= booking.start_time.strftime("%B %-d %Y") %>, Check-in: <%= booking.space.check_in.strftime("%I:%M%p") %> <br />
      End: <%= booking.end_time.strftime("%B %-d %Y") %>, Check-out <%= booking.space.check_out.strftime("%I:%M%p") %>
      <%= form_for [@hosted_space, booking] do |f| %>
        <%= f.hidden_field(:denied, :value => false) %>
        <%= f.submit "Reinstate" %>
      <% end %>
    </div>
  <% end %>

  Host Disabled Dates: <%= @hosted_space.disabled_dates %><br />

  Booked Dates: <%= @hosted_space.booking_disabled_dates %><br />

  All Disabled Dates: <%= @hosted_space.all_disabled_dates %><br />

</section>
