<main class="site-content">

  <h1><%= @hosted_space.title %></h1>
  <hr>
  <div class="space-nav">
    <%= link_to 'View Space', space_path %> | <%= link_to 'Edit Details', edit_space_path %>
  </div>

  <% if @hosted_space_bookings.count == 0 %>
    <h4>There are currently 0 bookings.</h4>
  <% end %>

  <div class="calendar-legend">
    <div class="calendar-legend-block"></div> Enabled<br />
    <div class="calendar-legend-block calendar-unavailable"> </div> Disabled<br />
    <div class="calendar-legend-block calendar-booked"> </div> Booked<br />
  </div>

  <div id="bookings-calendar">
    <%= render partial: "calendar", locals: {hosted_spaces: @hosted_space_bookings} %>
  </div><br />

  <h4><span class="blue-underline">Approved Bookings</span></h4>

  <% if !@hosted_space_bookings.where(approved:true).exists? %>
    <p>You have no approved bookings.</p>
  <% else %>
    <div class="container-fluid">
      <div class="row no-gutters">
        <% @hosted_space_bookings.where(approved: true).each do |booking| %>

          <% if booking.end_time >= Date.today %>
            <div class="col-sm-6 col-md-4">
              <div class="booking-container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="profile-image size50 booking-icon" style="background-image: url('<%= booking.user.avatar %>')"></div>
                    <div class="booking-desc"><b>
                      <%= link_to booking.user.first_name + " " + booking.user.last_name, booking.user %></b> <i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to 'Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></br >
                      <%= booking.start_time.strftime("%B %-d %Y") %> – <%= booking.end_time.strftime("%B %-d %Y") %>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <%= form_for [@hosted_space, booking] do |f| %>
                      <%= f.hidden_field(:denied, :value => true) %>
                      <%= f.submit "Deny", class: 'booking-button' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end %>

  <hr>

  <h4><span class="blue-underline">Pending Bookings</span></h4>

  <% if !@hosted_space_bookings.where(approved:false).exists? %>
    <p>You have no pending bookings.</p>
    <% else %>
      <div class="container-fluid">
        <div class="row no-gutters">
          <% @hosted_space_bookings.where(approved: false, denied: false).each do |booking| %>

            <% if booking.end_time >= Date.today %>
              <div class="col-sm-6 col-md-4">
                <div class="booking-container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="profile-image size50 booking-icon" style="background-image: url('<%= booking.user.avatar %>')"></div>
                      <div class="booking-desc"><b>
                        <%= link_to booking.user.first_name + " " + booking.user.last_name, booking.user %></b> <i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to 'Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></br >
                        <%= booking.start_time.strftime("%B %-d %Y") %> – <%= booking.end_time.strftime("%B %-d %Y") %>
                      </div>
                    </div>
                    <div class="col-sm-6 button-left">
                      <%= form_for [@hosted_space, booking] do |f| %>
                        <%= f.hidden_field(:approved, :value => true) %>
                        <%= f.submit "Approve", class: 'booking-button' %>
                      <% end %>
                    </div>
                    <div class="col-sm-6 button-right">
                      <%= form_for [@hosted_space, booking] do |f| %>
                        <%= f.hidden_field(:denied, :value => true) %>
                        <%= f.submit "Deny", class: 'booking-button' %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>
    <% end %>

  <% if @hosted_space_bookings.where(denied:true).exists? %>

    <h4><span class="blue-underline">Cancelled Bookings</span></h4>

    <div class="container-fluid">
      <div class="row no-gutters">
        <% @hosted_space_bookings.where(denied: true).each do |booking| %>

          <% if booking.end_time >= Date.today %>
            <div class="col-sm-6 col-md-4">
              <div class="booking-container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="profile-image size50 booking-icon" style="background-image: url('<%= booking.user.avatar %>')"></div>
                    <div class="booking-desc"><b>
                      <%= link_to booking.user.first_name + " " + booking.user.last_name, booking.user %></b> <i class="fa fa-caret-right" aria-hidden="true"></i> <%= link_to 'Message', new_user_personal_message_path(current_user, receiver_id: booking.user) %></br >
                      <%= booking.start_time.strftime("%B %-d %Y") %> – <%= booking.end_time.strftime("%B %-d %Y") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>

</main>
