<div class="container-fluid">
  <div class="row no-gutters" style="margin-top: 1em;">

      <div class="col-sm-12 col-md-6 no-gutters">
          <div class="space-image" style="background-image: url('<%= space.space_photos.first.photo %>')"></div>
      </div>

      <div class="col-sm-12 col-md-6 no-gutters">
        <div class="space-description">
          <h1><%= space.title %></h1>
          <hr>
          <b><%= space.address.street_address %>, <%= space.address.city %></b><br />
          $<%= space.price %> | <%= space.capacity %> Persons | <%= space.size %> ft<sup>2</sup><br />
          <p><%= space.description.truncate(90) %></p>
          Hosted by <%= link_to space.host.first_name, space.host %>
        </div>
      </div>

  </div>
</div>
