<section class="cover">
  <div class="welcome">
    Find a space<br />
    to express<br />
    yourself.
  </div>
</main>

<main class="site-content">

  <h1>Featured Spaces</h1>
  <hr>
  <section class="flex-container">

    <% @spaces.sample(6).each do |space| %>
      <div class="space flex-child">

        <%= link_to space, class: 'space-link' do %>

          <figure class="space-image">
            <% if @space.space_photos %>
              <%= image_tag space.space_photos.first.photo %>
            <% else %>
              <%= image_tag ("http://placehold.it/2000x1000") %>
            <% end %>
          </figure>

        <div class="space-description">
          <h1 class="space-title"><%= space.title %></h1><% end %>
            <hr>
          <p><%= space.description %></p>
          <% if current_user == space.host %>
          Delete Space: <%= link_to "Delete", space_path(space), method: :delete %>
          <% end %>
        </div>

      </div>
    <% end %>
  </main>
</main>
