<section class="cover">
  <div class="welcome">
    Find a space<br />
    to express<br />
    yourself.
  </div>
</main>

<main class="site-content">

  <h1>Featured Spaces</h1>
  <hr>

  <div class="container-fluid no-gutters">
    <div class="row no-gutters">
      <% @spaces.sample(6).each do |space| %>
        <div class="col-sm-6 col-md-4">
          <div class="space">
            <%= link_to space, class: 'space-link' do %>

            <div class="space-image" style="background-image: url('<%= space.avatar %>')"></div>

            <div class="space-description">
              <h1><%= space.title %></h1><% end %>
              <hr>
              <b><%= space.address.street_address %>, <%= space.address.city %></b><br />
              $<%= space.price %> | <%= space.capacity %> Persons | <%= space.size %> ft<sup>2</sup><br />
              <p><%= space.description %></p>
              Hosted by <%= link_to space.host.first_name, space.host %>
            </div>
          </div>
        </div>
      <% end %>

</main>
