<main class="site-content">
  <h1>New message to <%= @receiver.first_name %><span class="profile-image size50 booking-icon" style="background-image: url('<%= @receiver.avatar %>')"></span> </h1>
  <hr>
  <%= form_for @personal_message, url: {action: "create"} do |f| %>
    <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <section class="conversation-main">
    <section class="emoji-picker-container">
        <div class="message-container"><%= f.text_area :body, :placeholder => 'Enter your message here', data: { emojiable: true } %>
        </div>
      </section>
        <%= f.submit 'Send Message' %>
      <% end %>
  </section>
</main>
