<main class="site-content">
  <h1><%=@category.name%></h1>
  <div class="container">
    <% @category.spaces.each do |space| %>
    <div class="row category-spaces no-gutters">
      <%= link_to space, class: 'space-link' do %>

      <div class="col-sm-12 col-md-6 no-gutters">
        <div class="space-image" style="background-image: url('<%= space.space_photos.first.photo %>')"></div>
          <% end %>
      </div>

      <div class="col-sm-12 col-md-6 no-gutters">
        <div class="space-description">
          <h1 class="space-title"><%= space.title %></h1><% end %>
            <hr>
          <p><%= space.description %></p>
        </div>
      </div>

    </div>
  </div>

    <div class="col-sm-12 col-md-6">
      <%= render 'map' %>
    </div>

  </div>
</main>
