<%# if current_user  %>

<h1>New Review!</h1>

  <%= form_for [@space, @review], remote: true do |f| %>
    <div id="review_errors">
    <% render :partial => "reviews/errors" %>
    </div>

    <div class="field">
      <%= f.text_area :content %>
    </div>

    <div class="star-rating">

<%# <%= f.label :accuracy %>
  Accuracy:
  <%= f.label :accuracy, 1 %>
  <%= f.radio_button :accuracy, 1  %>
  <%= f.label :accuracy, 2 %>
  <%= f.radio_button :accuracy, 2  %>
  <%= f.label :accuracy, 3 %>
  <%= f.radio_button :accuracy, 3  %>
  <%= f.label :accuracy, 4 %>
  <%= f.radio_button :accuracy, 4  %>
  <%= f.label :accuracy, 5 %>
  <%= f.radio_button :accuracy, 5  %>



    </div>

    <div class="actions">
      <%= f.submit  %>
    </div>

<% f.hidden_field :user_id, :value => current_user %>

<% end  %>
