  <% if logged_in? && current_user.reviews.count < 1  %>

  <%= form_for [@space, @review], :html => {:class => "review_form"} do |f| %>

    <div class="field">
      <%= f.text_area :content, :class => 'review', :placeholder => "Your Review Here" %>
    </div>

    <div class="star-rating">

      <br>Accuracy:
        <% 5.times do |button| %>
          <%= f.label :accuracy, button + 1 %>
          <%= f.radio_button :accuracy, button + 1  %>
        <% end %>

      <br>Communication:
        <% 5.times do |button| %>
          <%= f.label :communication, button + 1 %>
          <%= f.radio_button :communication, button + 1  %>
        <% end %>

      <br>Facilities
        <% 5.times do |button| %>
          <%= f.label :facilities, button + 1 %>
          <%= f.radio_button :facilities, button + 1  %>
        <% end %>

      <br>Location
        <% 5.times do |button| %>
          <%= f.label :location, button + 1 %>
          <%= f.radio_button :location, button + 1  %>
        <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit Review', :class => 'review-submit' %>
    </div>

<% f.hidden_field :user_id, :value => current_user %>
<span id="helpBlock" class="help-block"></span>

<% end  %>
<% end  %>
