<main class="site-content">
  <% if current_user == @user %>
      <h1>Your Reviews</h1>
      <hr>
      <h4>You have made <%=pluralize(@user.reviews.count, 'review') %>.</h4>
    <% else %>
      <h1> <%= @user.first_name %>'s Reviews </h1>
    <h3> <%= @user.first_name %> has left <%=pluralize(@user.reviews.count, 'review') %> </h2>
  <% end %>

  <br/>

  <% if @user.reviews.any? %>
      <% @user.reviews.order(:created_at).each do |review|%>
      <p>Review left for: <%=link_to review.space.title, review.space %> on <%= review.created_at %><br/>
        "<%= review.content %>" </p>
      <% end %>
  <% end %>
</main>
